.welcome {
  margin-left: -51px;
  align-items: center;
  margin-right: 3px;
  margin-top: 130px;
  max-width: 180px;
  
}

.gif {
  margin-top: 30px;
  border-radius: 1000px;
  box-shadow: 1px 1px 20px 1px rgb(9, 5, 75);
  max-width: 300px;
  margin-left: -51px;
}

.logo {
  margin-right: 3px;
  margin-top: 20px;
  max-width: 400px;
  margin-left: -51px;
}


.backG {
  align-content: center;
  min-height: 900px;
  }

