.fullCard {
display: flex;
flex-direction: column;
flex-wrap: wrap;
/* max-width: 1400px; */
align-items: center;
margin-top: 100px;
margin-bottom: -240px;
}

.waitingBall {
  margin-top: 180px;
  margin-right: 30px;
  border-radius: 1000px;
  max-width: 300px;
  box-shadow: 1px 1px 20px 1px rgb(9, 5, 75);
}

.Card {
  display:inline-block;
  background-image: url("../../images/backCard.png");
  /* margin: auto; */
  border-radius: 50px;
  box-shadow: 1px 1px 20px 1px rgb(9, 5, 75);
  margin-top: 40px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 400px;
  max-width: 400px;
  min-width: 200px;
  width: 300px;
  }
  
  .Card:hover {
    box-shadow: 3px 3px 15px 2px rgb(156, 126, 198);
    transform: scale(1.02) rotate(.1deg);
  }
  
  .Card:hover > .imagePokemon {
    transform: scale(1.02) rotate(2deg);
  }

.imagePokemon {
  margin-top: 10px;
  min-width: 220px;
  max-width: 220px;
  min-height: 220px;
  max-height: 220px;
  }
/* 
 .imagePokemon:hover {
  transform:rotate(3deg) scale(1.06);
  }  */

 img {
  transition: transform .7s ease-in-out;
}

.loading {
  margin-top: 5px;
  margin-right: 10px;
  display: inline-block;
  max-width: 160px;
}

.cardName {
  font-size: 1.1rem;
  margin-top: 28px;
  margin-left: -15px;
  text-decoration: none;
  color: rgb(212, 233, 24);
  box-sizing: content-box;
  width: 100%;
  transform: rotate(30deg);
}

.cardTypeIcon {
  margin-left: 180px;
  margin-top: -10px;
  padding: 0;
}

.cardTypes {
  /* box-shadow: 10px 1px 2000px 10px rgb(146, 141, 15); */
  padding: 0;
  /* border-radius: 100px; */
  text-transform: capitalize;
  font-size: 1rem;
  margin-top: -20px;
  margin-left: 180px;
  text-decoration: none;
  /* background-color: red; */
  color: rgb(212, 233, 24);
}

.buttonPagination {
 justify-content: center; 
 margin-top: -500px;
}

@media only screen and (max-width: 657px) {
  .fullCard {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* max-width: 1400px; */
    align-items: center;
    margin-top: 100px;
    margin-bottom: -240px;
    }
  
  .Card {
    /* display: flex; */
    /* flex-direction: row; */
    
  }
  .cardName {
    margin-left: -10px;
  }
  
  .detailPic {
    max-width: 60%;
  }
  .cardTypes {
    margin-right: 10px;
  }
}

/* 
@media only screen and (max-width: 590px) {
  .Card {
  
    max-width: 10%;
    }
} */